.section {
  height: 110vh;
  text-align: center;
}

.veraLogo {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: lowercase;
}

.backimg3 h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  /* font-family: "Bodoni", serif; */
  font-family: "Montserrat", serif;
  padding-top: 50px;
  line-height: 50px;
  letter-spacing: 2px;
}
.backimg1 h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  /* font-family: "Bodoni", serif; */
  font-family: "Montserrat", serif;
  /* padding-top: 20px; */
  position: relative;
  bottom: 450px;
  line-height: 50px;
  letter-spacing: 2px;
}
.backimg2 h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--primary-color);
  font-family: "Bodoni", serif;
  padding-top: 20px;
  line-height: 50px;
  letter-spacing: 2px;
}

.backimg3 .ctaButton {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 20px;
  position: relative;
  top: 180px;
}
.backimg1 .ctaButton {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 20px;
  position: relative;
  top: -70px;
}
.backimg2 {
  padding-bottom: 55px;
}

.ctaButton:hover {
  background-color: white;
  color: var(--primary-color);
}
.backimg1 {
  background-image: url(../../public/assets/images/Banners/baner2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.backimg2 {
  background-image: url(../../public/assets/images/Banners/baner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.backimg3 {
  background-image: url(../../public/assets/images/Banners/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 300px) and (max-width: 768px) {
  .backimg2 {
    height: 100vh;
  }
  .backimg1 {
    height: 100vh;
  }
  .backimg3 {
    height: 100vh;
  }
  .section {
    height: 100%;
    text-align: center;
  }
  .backimg1 h2 {
    font-size: 1.6rem;
    line-height: 30px;
        position: relative;
        bottom: 350px;
        }
  .backimg3 h2 {
    font-size: 1.6rem;
    line-height: 30px;
  }
  .backimg2 {
    padding-bottom: 30px;
  }
  .backimg3 .ctaButton {
    padding: 0.4rem 2rem;
    font-size: 1rem;
     position: relative;
    top: 50px;
  }
  .backimg2 .ctaButton {
    padding: 0.4rem 2rem;
    font-size: 1rem;
    margin-top: 05px;
  }
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .backimg1 h2 {
    font-size: 1.6rem;
    line-height: 30px;
            position: relative;
        bottom: 370px;

  }
  .backimg3 h2 {
    font-size: 1.6rem;
    line-height: 30px;
  }
  .backimg2 {
    padding-bottom: 30px;
  }
  .backimg3 .ctaButton {
    padding: 0.4rem 1rem;
    font-size: .8rem;

  }
  .backimg2 .ctaButton {
    padding: 0.4rem 2rem;
    font-size: 1rem;
    margin-top: 05px;
  }
}
@media all and (min-width: 993px) and (max-width: 1200px) {
  .backimg1 h2 {
    font-size: 2rem;
    line-height: 30px;
    position: relative;
        bottom: 370px;


  }
  .backimg3 h2 {
    font-size: 2rem;
    line-height: 30px;
  }
  .backimg2 {
    padding-bottom: 30px;
  }
  .backimg3 .ctaButton {
    padding: 0.4rem 2rem;
    font-size: 1rem;
   
  }
  .backimg2 .ctaButton {
    padding: 0.4rem 2rem;
    font-size: 1rem;
    margin-top: 05px;
  }
}
