.membership-intro {
  margin-top: 2rem;
  /* background-color: #faf9f7; */
}

.membership-intro h2 {
  font-size: 2rem;
  color: #1b1b1b;
}

.membership-intro p {
  font-size: 1.05rem;
  line-height: 1.7;
}

.membership-intro .btn {
  transition: all 0.3s ease;
}

.membership-intro .btn:hover {
  background-color: #d4a373;
  border-color: #d4a373;
  color: #fff;
}



.Products {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #393626;
  color: white;
  height: 700px;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  justify-content: center;
}
.content{
    height: 100%;
     display: flex;
     flex-direction: column;
  justify-content: center;   /* horizontal center */
  text-align: center;        /* centers text inside */
}
.packageBookNow{
    font-size: 1rem;
  font-weight: 400;
  /* margin-bottom: -30rem; */
  color: #3c2e2e;
  background-color: transparent;
  /* text-align: start !important; */
margin: auto;
  /* text-decoration: underline; */
  border: none;
  border-bottom: 2px solid #3c2e2e;
}





.membership-section {
  padding: 60px 0;
  color: #3c2e2e;
  font-family: "Montserrat", sans-serif;
}

.subheadingPremium{
  /* font-size: 2rem ;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a49580;
  margin-bottom: 10px; */

   font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 60px;
  color: #2a2725;
}

.plan-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #3c2e2e;
}

.plan-price {
  font-size: 16px;
  font-weight: 400;
  color: #b19a7f;
  margin-bottom: 15px;
}

.plan-details {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 280px;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}

.plan-details li {
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .border-end {
    border-right: none !important;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
