.home-container {
  padding: 4rem 2rem;
  text-align: center;

  display: flex;
  align-items: center;

  position: relative;
}
.home-container::after {
  position: absolute;
  content: "";
  top: 0;
  z-index: -2;
  text-align: center;
  background-image: url(../../public/assets/images/About/about.png); /* Light neutral background */
  color: #333;
  height: 760px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  rotate: 180deg;
  left: 0;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-thumbnail,
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
}

.video-thumbnail img,
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-overlay,
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.video-title {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}
.thumbnail-overlay img,
.video-overlay img {
  width: 550px;
  height: auto;
  object-fit: contain;
}
.video-description {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  max-width: 600px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .video-title {
    font-size: 3rem;
  }

  .video-description {
    font-size: 1rem;
    max-width: 300px;
  }
  .thumbnail-overlay img,
  .video-overlay img {
    width: 320px;
    height: auto;
    object-fit: contain;
  }
}
