@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Bodoni";
  src: url("./Components/Fonts/bodoni-72.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-color: #7a7764;
  --primary-text: #000000;
  --button-border: #7a7764;
  --button-hover-bg: #7a7764;
}
h1,
h2 {
  font-family: "Bodoni", sans-serif;
}
